<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RokuFlashback - Rewind</title>

  
  <link rel="stylesheet" href="sass/main.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
  <main id="app">
    <div class="container-fluid">
      <div class="row">
        <header class="col-sm-12 fixed-top">
          <img src="images/roku.svg" alt="Roku logo" width="90">
          <nav class="float-right">
            <ul>
              <!-- <li>Kids</li> -->
              <li v-if="authenticated"><i class="fas fa-user-circle"></i></li>
              <li v-if="administrator"><i class="fas fa-cog"></i></li>
              <li v-if="authenticated" v-on:click="logout()"><i class="fas fa-power-off"></i></li>
            </ul>
          </nav>
          <a href="admin/admin_createuser.php">Register</a>
          <a href="app.html">my stuff</a>
          <router-link to="/children">children</router-link>
          <router-link to="/" class="mNavItem"><i class="fas fa-home"></i></router-link>
            <router-link to="/search" class="mNavItem"><i class="fas fa-search"></i></router-link>
            <router-link to="/library"></i></router-link>
        </header>
      </div>
    </div> <!-- end container fluid -->

    <!-- first thing in component templates should be a container -->
    <router-view @authenticated="setAuthenticated" />
  </main>

  <footer>
    <p class="copy">
      &copy; 2020 Roku
    </p>

    <ul class="float-right">
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-twitter-square"></i></li>
      <li><i class="fab fa-google-plus-square"></i></li>
      <li><i class="fab fa-instagram"></i></li>
    </ul>
  </footer>

  <script type="module" src="js/main.js"></script>

</body>

</html>