img{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.music-body{
    margin-top: 50px;
    height: 650px;
    background-color: rgb(228, 176, 7);
    display: flex;
    flex-direction: column;
}

h2{
    padding-top: 50px;
    text-align: center;
}
h3{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}


button{
    margin: 0 auto;
}

.movies-body{
    margin-top: 50px;
    height: 650px;
    background-color: rgb(93, 130, 151);
    display: flex;
    flex-direction: column;
}

.tv-body{
    margin-top: 50px;
    height: 650px;
    background-color: rgb(93, 151, 129);
    display: flex;
    flex-direction: column;
}


